/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

body {
  font-size: 16px;
  line-height: 24px;
}

hr {
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  padding-bottom: 9px;
  margin: 20px 0 10px;
  border-bottom: 1px solid #eee;
}

.warning {
  background: yellow;
}

td .tabledrag-changed {
  display: none;
}

.draggable a.tabledrag-handle {
  height: 1.3em;
}

.front .page-header {
  display: none;
}

.branding {
  padding: 25px 0px;
}

.branding .logo img {
  max-width: 100px;
  height: auto;
}

.node p, .node div {
  font-size: 17px;
  line-height: 34px;
}

.branding a {
  font-family: 'EB Garamond' !important;
  font-style: normal;
  font-weight: normal;
}

.branding .site-name a {
  font-size: 26px;
  line-height: 32px;
  color: #000;
}

.branding .slogan {
  font-style: italic;
  font-family: 'EB Garamond' !important;
  font-size: 15px;
}

.page-node .node .col-sm-4 img,
.page-node .node .col-sm-5 img,
.view-highlights img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.view-highlights {
  padding: 20px 0px;
}

.view-highlights h2 {
}

.nopadding {
  padding: 0px 10px 0px 0px;
  margin: 0px;
}

/* MegaMenu */
.tb-megamenu, .tb-megamenu.style-blue {
  background-color: #fff;
  border-top: 1px #f3f3f3 solid; 
  border-bottom: 1px #f3f3f3 solid; 
  border-right: 1px #f3f3f3 solid; 
  margin: 0px 0px 20px 0px;
}

.tb-megamenu a {
  color: #000 !important;
  font-family: 'EB Garamond' !important;
  font-weight: normal !important;
  font-size: 16px;
}

.tb-megamenu .nav > li > a,
.tb-megamenu.style-blue .nav > li > a {
  padding: 5px 20px;
/*  background: url("../dot.png") no-repeat center right !important; */
  border-left: 1px #f3f3f3 solid;
  border-right: 0px;
}

.tb-megamenu .nav > li:last-child > a {
  background: none !important;
}


.tb-megamenu .nav > .active > a, .tb-megamenu .nav > .active > a:hover, .tb-megamenu .nav > .active > a:focus {
  background-color: #fff;
  text-decoration: underline;
}

.tb-megamenu .mega-nav .mega-group > .mega-group-title, .tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title, .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
  font-size: 20px;
  color: #22A0D3 !important;
  background: none !important;
}

.tb-megamenu .mega-nav > li > a, .tb-megamenu .dropdown-menu .mega-nav > li > a {
  padding: 8px;
}

.tb-megamenu .dropdown-menu .active > a, .tb-megamenu .dropdown-menu .active > a:hover {

}

.tb-megamenu .mega-caption {
  color: #666;
  font-size: 14px;
}

.tb-megamenu .dropdown-menu .active > a, .tb-megamenu .dropdown-menu .active > a:hover {
  background: #99ddf3 !important;
}

.tb-megamenu .dropdown-menu li > a {
  border-top: 0px;
}


.tb-megamenu .btn-navbar,
.tb-megamenu .btn-navbar:hover, .tb-megamenu .btn-navbar:focus, .tb-megamenu .btn-navbar:active, .tb-megamenu .btn-navbar.active, .tb-megamenu .btn-navbar.disabled, .tb-megamenu .btn-navbar[disabled] {
  color: #000;
}

.tb-megamenu .nav > li:last-child > a:hover,
.tb-megamenu li >  a:hover {
  color: #fff !important;
  background-color: #4dc6f3 !important;
  border-color: #f3f3f3;
}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
  background: none;
  border-color: #f3f3f3;
}

.tb-megamenu .level-3 .dropdown-menu {
  display: none;
}

@media (min-width: 980px) {
  .tb-megamenu .nav > li {
    display: table-cell;
    width: 1%;
    float: none;
    text-align: center;
  }
    .tb-megamenu .nav > li > a {
      padding: 5px 0px;
    }
    .tb-megamenu .nav > li li {
      display: inherit;
      width: inherit;
      text-align: left !important;
    }
}



@media (max-width: 979px) {
  .tb-megamenu .nav-collapse {
}
.tb-megamenu .btn-navbar {
  width: 100%;
}

.tb-megamenu {
  border: 0px;
}

.tb-megamenu .nav-collapse .dropdown-menu,
.tb-megamenu .nav-collapse {
  background: #eee;
}
.tb-megamenu .nav-collapse .dropdown-menu a {
  border-top: 0px;
}
.tb-megamenu .nav-collapse .nav > li > a {
  border-bottom: 0px;
  border-top: 1px solid #222;
  font-size: 28px;
}
.tb-megamenu .nav > li > a {
  background: none !important;
}
}

/* staff */

.view-staff .views-field-field-image {
  max-width: 20%;
  width: 20%;
  height: auto;
}

.view-staff .views-field-field-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.view-staff h3 {
  margin-top: 0px;
}

.view-staff caption {
  border: 1px #e1e1e1 solid;
  text-align: left;
  background: #e7e7e7;
  font-size: 24px;
  margin: 0px 0px 8px 0px;
  font-weight: 900;
  padding: 4px 8px;
}

.view-staff tr:first-child td {
  border: 0px;
}

.view-staff .table>tbody>tr>td {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* convention */

.view-convention-updates td.views-field-field-image-teaser {
  width: 20%;
}

.view-convention-updates h2,
.view-convention-updates td.views-field-field-image-teaser img {
  margin-top: 12px;
}

.view-convention-updates td.views-field-field-image-teaser img {
  margin-bottom: 12px;
}

.convention-budget {
  margin-top: 15px;
  border-top: 1px #e7e7e7 solid;
}

/* writings */

.view-writings tr.views-row-first td {
  border-top: 0px;
}

.views-writings h3 a, .view-writings h3,
.views-writings h2 a, .view-writings h2 {
  margin-top: 0px;
}

.view-writings .views-field-field-image {
  max-width: 20%;
  width: 20%;
  height: auto;
}

.view-writings .views-field-field-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.view-writings .table>tbody>tr>td {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* news */

.view-news tr.views-row-first td {
  border-top: 0px;
}

.view-news h3 a, .view-news h3,
.views-news h2 a, .view-news h2 {
  margin-top: 0px;
}

.view-news .views-field-field-image {
  max-width: 20%;
  width: 20%;
  height: auto;
}

.view-news .views-field-field-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.view-news .table>tbody>tr>td {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* node add */

.node-type-list dt {
  font-size: 1.2em;
}

.node-type-list dd {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px #eee solid;
}

/* webform */

.form-item.webform-component {
  padding-bottom: 8px !important;
  margin-bottom: 8px;
  border-bottom: 1px #ededed solid;
}
